html {
    box-sizing: border-box;
    margin: 0 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Secession','WanderOverYonder','pixelfont','Mercutio';
}

/* * {
    border: 1px red solid;
} */

body {
    color: #313131;
    width: 1920px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    border: none;
    background-color: unset;
    transition: 0.7s ease-in-out;
}

button:hover {
    cursor: url(../img/arrow2747pointer.png),default;
}

/* Preloading CSS Background Images */
body::before {
    background-image: url('../img/flower-active.png'),
        url('../img/topright-active.png'),
        url('../img/right-wings-active.png'),
        url('../img/bottom-quotes-active.png');
    display: hidden;
  }

/* @keyframes rotateZ {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes fade {
    from { opacity: 0;}
    to { opacity: 1;}
} */

/*--------Fonts--------*/
/* WanderOverYonderRegular */
@font-face {
	font-family: 'WanderOverYonder';
	font-style: normal;
	font-weight: 300;
	src: local('Wander Over Yonder'),
		 url('../fonts/WanderOverYonderRegular.ttf') format('truetype'), /* Modern Browsers */
  }
  /* pixelfont */
  @font-face {
	font-family: 'pixelfont';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		 url('../fonts/pixelfont_7.ttf') format('truetype'), /* Modern Browsers */
  }
  /* Mercutio */
  @font-face {
	font-family: 'Mercutio';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		 url('../fonts/MercutioNbpBasic.ttf') format('truetype'), /* Modern Browsers */

  }
  /* Secession */
  @font-face {
	font-family: 'Secession';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		 url('../fonts/Secession.ttf') format('truetype'), /* Modern Browsers */
  }

  @font-face {
	font-family: 'Secession';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		 url('../fonts/Secession_Bold.ttf') format('truetype'), /* Modern Browsers */
  }

  @font-face {
	font-family: 'Secession';
	font-style: italic;
	font-weight: 200;
	src: local(''),
		 url('../fonts/Secession_Light.ttf') format('truetype'), /* Modern Browsers */
  }

/*--------Main--------*/
.whole-menu {
    display: flex;
    align-items: center;
    margin: 30px 250px 50px 280px;
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: relative;
}

.background__layer {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.left__block {
    background-image: url(../img/left.png);
    width: 315px;
    height: 814px;
    left: 2%;
    transition: 0.35s ease-in-out;
}

.left__block--active {
    left: -13%;
}

.main-block {
    background-image: url(../img/main-sockets.png);
    width: 1262px;
    height: 868px;
    z-index: 5;
}

.right__block {
    background-image: url(../img/right.png);
    width: 410px;
    height: 600px;
    left: 63%;
    top: 22%;
    transform: rotateZ(45deg) translateX(-175px) translateY(200px);
    transition: 0.35s ease-in-out;
}

.right__block--active {
    transform: none;
}

.right__block-img {
    width: 240px;
    height: 240px;
    margin-top: 145px;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 60px;
    border-color: #8381D8;
    transform: rotate(45deg);
    overflow: hidden;
}

.wing-img {
    background-image: url(../img/header.jpg);
    position: relative;
    width: 460px;
    height: 215px;
    bottom: 26%;
    left: -13%;
    scale: 1.30;
    border-radius: 60px;
    transform: rotate(315deg);
}

.center {
    width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
    display: flex;
}

.navigation__block {
    width: 250px;
    height: 100%;
    display: flex;
    position: relative;
    /* left: 6%;
    margin-left: 50px; */
}

.navigation__container {
    margin-left: 105px;
    margin-top: 140px;
}

.navigation__item {
    padding: 10px 20px;
    margin-bottom: 11px;
    border: 2px solid;
    border-radius: 60px;
    border-color: #8381D8;
    text-align: center;
}

.navigation__item:hover a {
    color: #D991F4;
}

.navigation__item:last-child {
    width: 223px;
    height: 223px;
    padding: 0px;
    margin-bottom: 0px;
}

.navigation__text {
    font-family: 'WanderOverYonder';
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    line-height: 1;
    color: #EDE9FF;
}

.shrooms__button {
    background-image: url(../img/shrooms-lg.png);
    width: 243px;
    height: 73px;
    top: -4%;
    left: 33%;
    position: absolute;
}

.shrooms_shell {
    width: 20px;
    height: 20px;
    padding: 70px 140px;
    position: relative;
    left: -8%;
    top: -35%;
}

.shrooms__button--active {
    background-image: url(../img/shrooms-active.gif);
}

.flower__button {
    background-image: url(../img/flower.png);
    width: 49px;
    height: 80px;
    left: -1%;
    top: 51%;
    position: absolute;
}

.flower__button:hover {
    cursor: url(../img/arrow2747pointer.png),default;
}

.flower_shell {
    width: 20px;
    height: 20px;
    padding: 60px;
    position: relative;
    left: -80%;
    top: -26%;
    z-index: 5;
}

.beetle__button:hover {
    cursor: url(../img/arrow2747pointer.png),default;    
}

.flower__button--active {
    background-image: url(../img/flower-active.png);
}

.toothes__button {
    background-image: url(../img/guest.png) ;
    width: 105px;
    height: 46px;
    left: 82%;
    top: 81.5%;
    position: absolute;
}

.pipes {
    background-image: url(../img/pipes.gif);
    width: 411px;
    height: 80px;
    left: 63.9%;
    bottom: -0.2%;
    position: absolute;
}

.vessel {
    background-image: url(../img/bottom-vessel.png);
    width: 377px;
    height: 166px;
    left: 2.5%;
    bottom: -8%;
    position: absolute;
}

.main-content__block {
    margin-left: 110px;
    width: 880px;
    height: 868px;
}

.article__frame {
    height: 680px;
    width: 770px;
    margin-top: 75px;
    margin-left: 45px;
    position: absolute;
}

.butterfly__button {
    background-image: url(../img/right-wings.png);
    width: 46px;
    height: 81px;
    top: 19%;
    right: -1.3%;
    position: absolute;
    z-index: 2;
}

.butterfly__shell {
    width: 20px;
    height: 20px;
    padding: 60px;
    position: relative;
    left: -140%; 
}

.butterfly__button--active {
    background-image: url(../img/right-wings-active.png);
}

.beetle__button {
    background-image: url(../img/topright-animated.gif);
    width: 182px;
    height: 210px;
    top: -4%;
    right: -2.8%;
    position: absolute;
}

.beetle__button--active {
    background-image: url(../img/topright-active.png);
}

.beetle__textblock {
    background-image: url(../img/beetle-text.png);
    width: 231px;
    height: 107px;
    right: -21%;
    top: -2%;
    position: absolute;
    display: none;
    /* transition: 0.35s ease-in-out;
    transition-behavior: allow-discrete; */
}

.beetle__textblock--active {
    display: block;
}

.home_button {
    background-image: url(../img/home.png);
    width: 71px;
    height: 42px;
    top: 7%;
    right: 11%;
    position: absolute;
}

.home_button--active {
    background-image: url(../img/home-active.png);
}

.gallery-button {
    display: block;
    width: 100%;
    height: 100%;
}

.gotop__button {
    background-image: url(../img/gotop.png);
    width: 79px;
    height: 38px;
    bottom: 6%;
    right: 35%;
    position: absolute;
}

.goback__button {
    background-image: url(../img/goback.png);
    width: 51px;
    height: 51px;
    bottom: 7%;
    right: 6%;
    position: absolute;
}

.quotes__button {
    background-image: url(../img/bottom-quotes.png);
    width: 47px;
    height: 46px;
    bottom: 0.7%;
    right: 1.3%;
    position: absolute;
}

.quotes__shell {
    width: 20px;
    height: 20px;
    padding: 60px;
    position: relative;    
    left: -55%;
    top: -45%;
}

.quotes__button--active {
    background-image: url(../img/bottom-quotes-active.png);
}

.quotes__block {
    background-image: url(../img/quotes-bottom.png);
    width: 412px;
    height: 205px;
    bottom: 5%;
    right: 35%;
    position: absolute;
    z-index: 1;
    transition: 0.7s ease-in-out;
}

.quotes__block--active {
    bottom: -13%;
}

/*--------Footer--------*/